.qty_input_info {
    display: flex;
    flex-direction: row;
}
.qty_input_info .images img {
    height: auto;
    width: auto;
    max-height: 200px;
}

.qty_input_info .images {
    flex-grow: 0;
    padding: 10px;
}

.qty_input_info .summary {
    flex-grow: 1;
    padding: 10px;
}

#matrix_form tfoot .single_add_to_cart_button {
    float: right;
}

#matrix_form tfoot td {
    padding-left: 0;
    padding-right: 0;
}